<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<!-- <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script> -->
<div class="card shadow">
    <p class="h4 card-header">Update IPO record</p>
    <div class="card-body bg-light">
      <p class="card-text h6">Please update in the details:</p>
        <form name="ipodetail" #f="ngForm">
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ipo Code</span>
                </div>
                <input type="text" name="ipo-code" class="form-control" [(ngModel)]="ipodetail.ipoCode" />
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Company Code</span>
                    </div>
                    <input type="text" name="company-code" class="form-control" [(ngModel)]="ipodetail.companyCode" />
                </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Price Per Share</span>
                </div>
                <input type="number" name="price-per-share" class="form-control" [(ngModel)]="ipodetail.pricePerShare" />
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Total Number Share</span>
                </div>
                <input type="number" name="total-number-share" class="form-control" [(ngModel)]="ipodetail.totalNumberShare" />
            </div>
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Open Datetime</span>
                </div>
                <input type="text" name="total-open-time" class="form-control" [(ngModel)]="ipodetail.openDatetime" />
            </div>
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Remarks</span>
                </div>
                <input type="text" name="re-mark" class="form-control" [(ngModel)]="ipodetail.remarks" />
            </div>
            <div class="d-flex no-gutters">
                <div class="col">
                    <button type="submit" class="btn btn-success" (click)="onUpdateIpoDetail(f)">Update</button>
                    <button type="reset" class="btn btn-danger ml-2">Reset</button>
                </div>
                <div>
                    <button (click)="backClicked()" class="btn btn-secondary">Back</button>
                </div>
            </div>

        </form>
    </div>
</div>