<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<!-- <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script> -->

<div class="table-responsive">
    <div> This is the company information</div>
    <table class="table text-nowrap">
        <p class="h4 card-header">Company Information</p>
        <div class="card-body bg-light">
            <p class="card-text h6">You could modify:</p>
            <form name="company-detail" #f="ngForm">
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Company Name</span>
                    </div>
                    <input type="text" readonly=true name="company-name" class="form-control" [(ngModel)]="company.companyName" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Turnover in Rs.</span>
                    </div>
                    <input type="number" readonly=true name="turnover" class="form-control" [(ngModel)]="company.turnover" />
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">CEO</span>
                    </div>
                    <input type="text" readonly=true name="ceo" class="form-control" [(ngModel)]="company.ceo" />
                </div>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Board of Director</span>
                    </div>
                    <input type="text" readonly=true name="board-director" class="form-control" [(ngModel)]="company.boardDirector" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Brief Writeup</span>
                    </div>
                    <textarea readonly=true class="form-control" aria-label="With textarea" name="brief-writeup"
                        [(ngModel)]="company.briefWriteup"></textarea>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Board of Director</span>
                    </div>
                    <input type="text" readonly=true name="select-sector" class="form-control" [(ngModel)]="company.sectorCode">
                </div>
                       
        
            </form>
        </div>
    </table>

<div>This is the company IPO information</div>
<table class="table text-nowrap">
    <thead>
        <tr>
            <th scope="col">Open Time</th>
            <th scope="col">SE Code</th>
            <th scope="col">Ipo Code</th>
            <th scope="col">Company Code</th>
            <th scope="col">Price Per Share</th>
            <th scope="col">Total Number Share</th>
            <th scope="col">Remark</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>

    

        <tr *ngFor="let ipoDetail1 of company.ipoDetailDtoList, let key=index">
            <td>
                {{ipoDetail1.openDatetime}}
            </td>
            <td>
                {{ipoDetail1.stockExchangeCode}}
            </td>

            <td>
                {{ipoDetail1.ipoCode}}
                <!-- <input type="text" name="ipo-code" [(ngModel)]="ipoDetail1.ipoCode"> -->
            </td>
            <td>
                {{ipoDetail1.companyCode}}
                <!-- <input type="text" name="company-code" [(ngModel)]="ipoDetail1.companyCode"> -->
            </td>
            <td>
                {{ipoDetail1.pricePerShare}}
                <!-- <input type="text" name="price-per-share" [(ngModel)]="ipoDetail1.pricePerShare"> -->
            </td>
            <td>
                {{ipoDetail1.totalNumberShare}}
                <!-- <input type="text" name="total-number-share" [(ngModel)]="ipoDetail1.totalNumberShare"> -->
            </td>
            <td>
                {{ipoDetail1.remarks}}
                <!-- <input type="text" name="re-mark" [(ngModel)]="ipoDetail1.remarks"> -->
            </td>

            <td>
                <a [routerLink]="['/user/query-detail']" [queryParams]="{seCode:this.ipoDetail1.stockExchangeCode,cCode:this.ipoDetail1.companyCode}"
                    routerLinkActive="router-link-active">
                    View Stock Price</a>
            </td>
       
        

        </tr>
    </tbody>

</table>
</div>