<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<!-- <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script> -->
<div class="card shadow">
    <table class="table text-nowrap">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Price Per Share</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let report of result.data, let key=index">
                <td>
                    {{report.date}}
                </td>
                <td>
                    {{report.time}}
                </td>
                <td>
                    {{report.pricePerShare}}
                </td>
            </tr>
        </tbody>
    </table>
</div>